*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #FFFFFF;
  --accent: #002F81;
  --background: #0093FB;
  --background-hover: #0284e1;
  --background-footer:#575757;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-100{
  min-height: calc(100vh - 13rem);
}

